<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    <script src="https://kit.fontawesome.com/ae627849f8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .searchbox_style {
            width: 28%;
        }

        @media(max-width: 1100px) {
            .searchbox_style {
                width: 100%;
            }
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="container-fluid">
        <div class="flex flex-col md:flex-row bg-gray-900">
            <!-- Left side: Person list -->
            <div class="w-full md:w-[40%] bg-gray-900 text-white overflow-y-scroll h-[calc(100vh)] border-r border-gray-700 flex flex-col" style="justify-content: space-between;">
                <!-- search box -->
                <div class="searchbox bg-gray-900 absolute p-4 w-[27%] left-[-100%]">
                    <div class="flex items-center">
                        <input type="text" placeholder="Enter username"
                            class="flex-1 border border-gray-500 bg-gray-800 rounded py-2 px-4 outline-none focus: text-white focus:border-gray-100">
                        <button
                            class="ml-2 bg-green-700 text-white rounded px-4 py-2 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Search</button>
                    </div>
                    <i class="closesearch fa-solid fa-xmark text-xl absolute top-1 right-[-3px] bg-gray-900 rounded-full px-2"></i>
                </div>
                <div>
                <div class="flex font-semibold py-4 px-2 border-b border-gray-800" style="justify-content: space-between;">
                        <p class="tracking-wide text-xl flex ml-1 text-blue-500"><img src="../img/logo 1.png" width="20" class="h-5 mt-1">&nbsp;Prattle</p>
                    <div class="text-gray-400">
                        <i id="find_btn" class="fa-solid fa-users-viewfinder p-1 rounded hover:bg-gray-800" data-page="chatboard"></i>
                        <i id="search_btn" class="fa-solid fa-magnifying-glass p-1 rounded hover:bg-gray-800"></i>
                        <i id="logoutbtn" class="fa-solid fa-right-from-bracket text-ms p-1 rounded hover:bg-gray-800" title="Logout"></i>
                    </div>
                </div>
                <ul>
                    <% if(loggeduserfollowing <= 0) { %>
                        <P class="mt-3 ml-3 text-gray-600">You doesn't have any follower to chat</P>
                        <% } else { %>
                    <% loggeduserfollowing.forEach(follower => { %>
                    <li class="followerlist hover:bg-gray-800">
                        <div class="flex items-center py-3 mx-2 cursor-pointer border-b border-gray-800  overflow-x-hidden" data-username="<%= follower %>">
                            <img src="../img/profile.png" alt="Person 1"
                                class="w-10 h-10 rounded-full mr-3 border border-gray-600 select-none">
                            <div>
                                <h3 class="font-medium tracking-wide text-gray-100"><%= follower %></h3>
                                <p class="text-sm text-gray-500 truncate opacity-70 select-none"><span class="font-bold">You: </span>Hey, how's it going?</p>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                    <% } %>
                </ul>
                </div>
            </div>

            <!-- Right side: Chat box -->
                <div id="right_side_box" class="w-full bg-gray-900 overflow-hidden">
                <p class="text-gray-400 text-end text-sm pt-4 pr-4 select-none" style="margin: -13px -10px 0px 0px;"><span class="text-green-600 text-lg font-semibold border border-gray-600 px-1"><%= users.length %></span> Users Active</p>
                <p class="text-white text-2xl text-center font-bold -mt-5 select-none">Chat with users now</p>
                <p class="text-sm text-center mb-3 text-gray-600">(These users are loged in prattle to chat with others, you can chat with them in just one click)</p>
                <div class="h-[87vh] overflow-y-scroll">
                    <div class="flex flex-wrap justify-center">
                    <% users.forEach(user => { %>
                    <div class="bg-gray-800 rounded-lg shadow-md p-4 w-64 m-2 border border-gray-700 flex flex-col items-center">
                        <h2 class="text-xl font-semibold text-white"><%= user.username %></h2>
                        <p class="joining_date text-sm text-gray-500 my-2"><%= user.joining_date %></p>
                        <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300 mt-2 w-[100%]" onclick="checkfunc('<%= user.username %>')">Chat Now</button>
                    </div>
                    <% }); %>
                    </div>
                </div>                
                </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/main_board.js"></script>
</body>

</html>