<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Interface</title>
    <script src="https://kit.fontawesome.com/ae627849f8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        .searchbox_style {
            width: 28%;
        }

        @media(max-width: 1100px) {
            .searchbox_style {
                width: 100%;
            }
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="container-fluid">
        <div class="flex flex-col md:flex-row bg-gray-900">
            <!-- Left side: Person list -->
            <div class="w-full md:w-[40%] bg-gray-900 text-white overflow-y-scroll h-[calc(100vh)] border-r border-gray-700 flex flex-col" style="justify-content: space-between;">
                <!-- search box -->
                <div class="searchbox bg-gray-900 absolute p-4 w-[27%] left-[-100%]">
                    <div class="flex items-center">
                        <input type="text" placeholder="Enter username"
                            class="flex-1 border border-gray-500 bg-gray-800 rounded py-2 px-4 outline-none focus: text-white focus:border-gray-100">
                        <button
                            class="ml-2 bg-green-700 text-white rounded px-4 py-2 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Search</button>
                    </div>
                    <i class="closesearch fa-solid fa-xmark text-xl absolute top-1 right-[-3px] bg-gray-900 rounded-full px-2"></i>
                </div>
                <div>
                <div class="flex font-semibold py-4 px-2 border-b border-gray-800" style="justify-content: space-between;">
                        <p class="tracking-wide text-xl"><%= loggedusername %></p>
                    <div class="text-gray-400">
                        <i id="find_btn" class="fa-solid fa-users-viewfinder p-1 rounded hover:bg-gray-800" data-page="chatboard"></i>
                        <i id="search_btn" class="fa-solid fa-magnifying-glass p-1 rounded hover:bg-gray-800"></i>
                        <i id="logoutbtn" class="fa-solid fa-right-from-bracket text-ms p-1 rounded hover:bg-gray-800"></i>
                    </div>
                </div>
                <ul>
                    <% if(loggeduserfollowing <= 0) { %>
                        <P class="mt-3 ml-3 text-gray-600">You doesn't have any follower to chat</P>
                        <% } else { %>
                    <% loggeduserfollowing.forEach(follower => { %>
                    <li class="followerlist hover:bg-gray-800">
                        <div class="flex items-center py-3 mx-2 cursor-pointer border-b border-gray-800  overflow-x-hidden" data-username="<%= follower %>">
                            <img src="../img/profile.png" alt="Person 1"
                                class="w-10 h-10 rounded-full mr-3 border border-gray-600 select-none">
                            <div>
                                <h3 class="font-medium tracking-wide text-gray-100"><%= follower %></h3>
                                <p class="text-sm text-gray-500 truncate opacity-70 select-none"><span class="font-bold">You: </span>Hey, how's it going? Lorem, ipsum dolor sit
                                    amet consectetur adipisicing elit. Eos, ipsum ad porro neque iste facere repellat
                                    est qui! Atque error reiciendis beatae deserunt inventore quis consectetur totam
                                    facilis, ex expedita!</p>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                    <% } %>
                </ul>
                </div>
            </div>

            <!-- Right side: Chat box -->
                <div id="right_side_box" class="w-full h-[calc(100vh)] flex flex-col bg-gray-900 overflow-hidden">
                <p class="text-gray-400 text-end text-sm pt-3 pr-4 select-none" style="margin: -13px -10px 0px 0px;"><span class="text-green-600 text-lg font-semibold"><%= users.length %></span> Active Users</p>
                <p class="text-white text-3xl text-center font-bold mb-3 -mt-5 select-none">Chat with active users now</p>
                <div class="container-fluid flex flex-wrap h-[calc(90vh)] overflow-y-scroll" style="justify-content: center;">
                        <!-- Card -->
                         <% users.forEach(user => { %>
                        <div class="bg-gray-800 rounded-lg shadow-md overflow-hidden text-center m-2 p-7" style="justify-content: center;">
                                <h2 class="text-xl font-semibold text-white mb-2 truncate w-40"><%= user.username %></h2>
                                <p class="text-sm text-gray-600 w-[130px] truncate select-none"><%= user.joining_date %></p>
                                <button class="bg-green-600 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full w-full select-none">Chat Now</button>
                        </div>
                    <% });%>
                </div>
                </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../js/main_board.js"></script>
    <script src="../js/chat_board.js"></script>
</body>

</html>