<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainboard | prattle.com</title>
    <script src="https://kit.fontawesome.com/ae627849f8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
        html,
        body {
            overflow: hidden;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .searchbox_style {
            width: 28%;
        }

        @media(max-width: 1100px) {
            .searchbox_style {
                width: 100%;
            }
        }
    </style>
</head>

<body class="bg-gray-900">
    <div class="flex flex-col md:flex-row bg-gray-900">
        <!-- Left side: Person list -->
        <div id="left_side_box" class="w-full md:w-[38%] bg-gray-900 text-white border-r border-gray-700 flex flex-col"
            style="justify-content: space-between;">
            <!-- search box -->
            <div id="searchbox" class="bg-gray-900 absolute p-2 w-[27.2%] left-[-200%]">
                <div class="flex items-center mt-1">
                    <input id="followerSearchInput" type="text" placeholder="Enter username"
                        class="flex-1 border border-gray-500 bg-gray-800 rounded py-2 px-4 outline-none focus: text-white focus:border-gray-100 lowercase"
                        onkeyup="followerSearch();">
                    <button
                        class="ml-2 bg-green-700 text-white rounded px-4 py-2 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Search</button>
                </div>
                <i
                    class="closesearch fa-solid fa-xmark text-xl absolute top-0 right-[-8px] bg-gray-900 rounded-full px-2"></i>
            </div>
            <div>
                <div class="flex font-semibold px-2 border-b border-gray-800" style="justify-content: space-between;">
                    <div>
                        <p class="tracking-wide text-[12px] flex text-blue-500 -ml-1"><img src="../img/logo 1.png"
                                width="8" class="h-2 mt-[6px]">&nbsp;Prattle</p>
                        <p class="ml-2 md:-ml-1 lg:ml-2 text-[21px] mb-3">
                            <%= username %>
                        </p>
                    </div>
                    <div class="text-gray-400 mt-5 md:mt-1 lg:mt-5">
                        <i id="find_btn" class="fa-solid fa-users-viewfinder p-1 rounded hover:text-white"
                            onclick="window.location.reload();" data-page="chatboard"></i>
                        <i id="search_btn" class="fa-solid fa-magnifying-glass p-1 rounded hover:text-white"></i>
                        <i id="logoutbtn" class="fa-solid fa-right-from-bracket p-1 rounded hover:text-white"
                            title="Logout"></i>
                        <i class="fa-solid fa-xmark md:hidden bg-green-600 text-white p-2 rounded"></i>
                    </div>
                </div>
                <div class="flex justify-between border-b text-gray-500 border-gray-800 text-center">
                    <button class="w-full py-2 border-r border-gray-800 hover:bg-gray-800 hover:text-white">Personal</button>
                    <button class="w-full py-2 border-r border-gray-800 hover:bg-gray-800 hover:text-white">Groups</button>
                </div>
                <ul id="followerList" class="overflow-y-scroll h-[90vh]">
                    <% if(loggeduserfollowing <=0) { %>
                        <p class="mt-3 ml-3 text-gray-600">You doesn't have any
                            follower to chat</p>
                        <% } else { %>
                            <% loggeduserfollowing.forEach(follower=> { %>
                                <li class="followerlist hover:bg-gray-800">
                                    <div class="flex items-center py-3 mx-2 cursor-pointer border-b border-gray-800  overflow-x-hidden"
                                        data-username="<%= follower %>">
                                        <% if(follower=="Prattle AI" ) { %>
                                            <img src="../img/logo 1.png" alt="Person 1"
                                                class="w-8 h-8 ml-1 mr-4 p-[3px] select-none">
                                            <% } else { %>
                                                <img src="../img/profile.png" alt="Person 1"
                                                    class="w-10 h-10 rounded-full mr-3 border border-gray-600 select-none">
                                                <% } %>
                                                    <div>
                                                        <h3 class="font-medium tracking-wide text-gray-100">
                                                            <%= follower %>
                                                        </h3>
                                                        <p
                                                            class="text-sm text-gray-500 truncate opacity-70 select-none">
                                                            <span class="font-bold">You: </span>Hey,
                                                            how's it going?
                                                        </p>
                                                    </div>
                                    </div>
                                </li>
                                <% }) %>
                                    <% } %>
                </ul>
            </div>
        </div>

        <!-- filter container -->
        <div id="filterCont" class="fixed h-[100vh] w-[100vw] hidden justify-center center items-center"
            style="background-color: rgba(0, 0, 0, 0.425);">
            <div class="bg-gray-800 p-10 rounded text-gray-200 max-w-[80vw]">
                <h1 class="font-bold text-xl">Account Creation Time</h1>
                <div class="flex flex-wrap mb-3">
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">Morethen 5year</label>
                    </div>
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">Morethen 3year</label>
                    </div>
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">Morethen 1year</label>
                    </div>
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">In this month</label>
                    </div>
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">In this week</label>
                    </div>
                </div>
                <h1 class="font-bold text-xl">Mostly Active</h1>
                <div class="flex flex-wrap mb-3">
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">at Morning</label>
                    </div>
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">at Evening</label>
                    </div>
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">at Night</label>
                    </div>
                </div>
                <h1 class="font-bold text-xl">Location</h1>
                <div class="flex flex-wrap mb-3">
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">Ahmedabad</label>
                    </div>
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">Mumbai</label>
                    </div>
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">Delhi</label>
                    </div>
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">Banglore</label>
                    </div>
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">Goa</label>
                    </div>
                    <div class="mr-4 text-gray-400 tracking-wide">
                        <input type="checkbox" id="option1" name="option1">
                        <label for="option1">Pune</label>
                    </div>
                </div>
                <div class="flex justify-end mt-5">
                    <button id="applyFilterBtn" class="rounded px-4 py-2 mx-1 tracking-wide bg-blue-700">Apply</button>
                    <button id="closeFilterBtn"
                        class="rounded px-4 py-2 mx-1 tracking-wide border text-blue-700 border-blue-700">Cancel</button>
                </div>
            </div>
        </div>

        <!-- Right side: Chat box -->
        <div id="right_side_box" class="w-full bg-gray-900 overflow-hidden border-t border-gray-800">
            <p class="text-white text-2xl text-center font-bold select-none">Chat
                with users now</p>
            <p class="text-sm text-center mb-1 text-gray-600">(These users
                are logged in prattle to chat with others,
                you can chat with them in just one click)</p>
            <!-- search box -->
            <div class="flex items-center px-2 md:px-20 mt-4 w-100">
                <div class="flex w-full">
                    <input type="text" id="searchInput" placeholder="Enter username to find prattle users worldwide"
                        class="w-full border-b border-gray-500 bg-gray-800 rounded py-2 px-4 outline-none focus: text-white focus:border-gray-100 lowercase">
                    <!-- search result container -->
                    <div id="searchCont1"
                        class="p-4 bg-gray-700 absolute w-[52%] max-h-[80vh] rounded hidden overflow-y-scroll mt-11">
                        <i id="hideSearchCont"
                            class="fa-solid fa-xmark absolute right-0 -mt-3 mr-2 text-xl text-white"></i>
                        <ul id="globalSearchedUsername" class="space-y-2 mt-3">
                        </ul>
                    </div>
                    <button id="globalSearchBtn"
                        class="ml-2 bg-green-700 text-white rounded px-4 py-2 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        onclick="searchUser();">Search</button>
                </div>

                <i id="openFilterBtn" class="fa-solid fa-filter text-gray-400 text-[20px] ml-2 hover:text-white"></i>
            </div>

            <div class="h-[82vh] overflow-y-scroll">
                <div class="container mx-auto px-4 mt-2">
                    <h1 class="text-white tracking-wide text-xl ml-5 mb-1">Recommendation</h1>
                    <ul class="space-y-2">
                        <% users.forEach(user=> { %>
                            <li
                                class="flex items-center justify-between bg-gray-800 border border-gray-700 px-4 py-1 rounded-sm shadow text-white">
                                <div>
                                    <h2 class="text-md font-semibold tracking-wide">
                                        <%= user.username %>
                                    </h2>
                                    <p class="text-gray-500 text-[11px] -mt-1">Tie-in
                                        with <span class="font-bold text-md text-green-600">
                                            <%= user.followed_user.length %>
                                        </span> users</p>
                                </div>
                                <div>
                                    <button class="py-2 px-3 rounded text-gray-400 hover:text-white"
                                        onclick="checkfunc('<%= user.username %>')" title="Chat Now"><i
                                            class="fa-solid fa-comments"></i></button>
                                    <i class="fa-solid fa-share-from-square ml-2 text-gray-400 hover:text-white"
                                        title="Share"></i>
                                </div>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/main_board.js"></script>

    <script>
    </script>
</body>

</html>